<div ng-if="gameService.user.authenticated">
	<p>Hello <strong>{{gameService.user.name}}</strong>.  Give your friends game code <strong>{{gameService.game.id}}</strong> to join this game.</p>
	<h2>Players currently in the game</h2>
	<ul>
		<li ng-repeat="player in gameService.game.players">{{player.name}}</li>
	</ul>
	<h2>Game is {{gameService.game.isStarted ? '' : 'not'}} started.</h2>
	<h2 ng-if="gameService.game.scores">Scores: <span ng-repeat="score in gameService.game.scores">{{score.name}}: {{score.score}} </span></h2>
	<button ng-if="gameService.game.canStart && !gameService.game.isStarted" ng-click="requestGameStart()">Start the Game!</button>
	<div ng-if="gameService.game.isStarted">
		<h3><strong>{{gameService.game.playerTurn.name}}</strong>'s turn to pick</h3>
		<h3><strong>{{gameService.game.question.type}}: {{gameService.game.question.value}}</strong></h3>
		<h3 ng-if="gameService.game.answer"><strong>{{gameService.game.answer.card.value}} ({{gameService.game.answer.winner.name}})</strong></h3>
		<h3 ng-if="gameService.game.waitingOnPlayers > 0">Waiting for {{gameService.game.waitingOnPlayers}} player(s) to submit a card</h3>
		<h3 ng-if="gameService.game.waitingForChooser">Waiting for {{gameService.game.playerTurn.name}} to choose a card</h3>
		<button ng-if="gameService.game.startNextRound" ng-click="requestStartNextRound()">Start the Next Round</button>
		<div ng-if="!(gameService.game.cardsToChoose)">
			<h2>Your cards</h2>
			<form>
			  <div class="form-group" ng-form="playerCards" ng-repeat="card in gameService.user.gameObj.hand track by $index">
			    <div class="radio">
			      <label>
			        <input type="radio" name="selection" value="{{card}}" ng-model="gameService.user.gameObj.selection" ng-disabled="!(gameService.game.submitACard)">
			        <span>{{card.value}}</span>
			      </label>
			    </div>
			  </div>
			</form>
			<button ng-if="gameService.game.submitACard" ng-click="submitCard(gameService.user.gameObj.selection)">Submit Card</button>
		</div>

		<div ng-if="gameService.game.cardsToChoose">
			<h2>Choose the best card!</h2>
			<form>
			  <div class="form-group" ng-form="answerCardChoices" ng-repeat="card in gameService.game.cardsToChoose track by $index">
			    <div class="radio">
			      <label>
			        <input type="radio" name="selection" value="{{card}}" ng-model="gameService.user.gameObj.answerSelection">
			        <span>{{card.value}}</span>
			      </label>
			    </div>
			  </div>
			</form>
			<button ng-click="chooseAnswer(gameService.user.gameObj.answerSelection)">Submit</button>
		</div>

	</div>
</div>
<div ng-if="!(gameService.user.authenticated)">
	<p>Hello, you have not authenticated.  You are being re-directed to the login page.</p>
</div>