<ion-content class="center2 signin_background">

  <div style="margin-top: 3em;">
    <div class="title_font">
      <p>Phones</p>
      <p>Against</p>
      <p>Humanity</p>
    </div>
  </div>

  <div class="center" style="margin-top: 3em;">
    <form class="sign_up_form" ng-show="showSignUp">
      <div style="width: 100%;">Email</div>
      <input type="text" ng-model="user.username" maxlength="30" size="15" class="join_input">
      <div>Password</div>
      <input type="password" ng-model="user.password" maxlength="30" size="15" class="join_input">
      <div ng-show="error" style="color: red;">Error: {{error}}</div>
      <div style="text-align: center;">
        <button class="join_button black_on_white" ng-click="signIn()">Sign in</button>
        <p style="margin-top: 1em;">Not registered yet?</p>
      </div>
    </form>

    <div style="text-align: center;">
      <button class="join_button black_on_white" ng-show="showSignUp" ng-click="toggleSignUp()">Sign up!</button>
      <div ng-show="!showSignUp">Create an account</div>
      <form ng-show="!showSignUp" class="sign_up_form">
        <div>
          Email<input ng-model="user.username" type="email" maxlength="30" size="15" class="join_input">
        </div>
        <div>
          Password<input ng-model="user.password" type="password" maxlength="30" size="15" class="join_input">
        </div>
        <div class="center" style="display: inline; margin-top: 2em;">
          <button class="join_button black_on_white" ng-click="toggleSignUp()">Cancel</button>
          <button class="join_button black_on_white" ng-click="signUp()">Submit</button>
        </div>
        <div ng-show="registerError" style="color: red;">Error: {{registerError}}</div>
      </form>
    </div>
  </div>

</ion-content>